fastapi==0.115.12
pydantic>=2.10,<3.0 # model doğrulaması için kullanılır
pydantic-settings>=2.6,<3.0 # bu modelleri enviroment variable kaynaklı configuration değerleriyle doldurur.
pytest>=8.3,<9.0
uvicorn[standard]>=0.34,<1.0
httpx>=0.28,<1.0
google-genai>=1.0,<2.0
SQLAlchemy>=2.0,<2.1
asyncpg>=0.30,<1.0
alembic>=1.15,<2.0
